.games{
    display: flex;
    flex-direction: column;

    #{&}_home{
        background:
    linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://previews.123rf.com/images/niloo138/niloo1381512/niloo138151200005/53740848-video-games-on-display-in-a-game-store.jpg") center top;
    background-size: cover;
    color: set-text-color(rgba($primary-color,0.3));
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
   
    }

   

    #{&}_experience{
        min-height: 70vh;
        background-color: rgba(0, 0, 0, 0.849);
        color: set-text-color(rgba(0, 0, 0, 0.809));
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 2rem 0;

        h2{
            color: white;
            position: relative;
            z-index: 1;
            text-align: center;
            
        }
      
    }
    #{&}_img{
        width: 100%;
    }
    #{&}_div{
        
        width: 70%;
        max-width: 400px;
        height: fit-content;
        margin: 0 auto;
        background-color: rgb(51, 50, 50);
        border-bottom: solid 5px $secondary-color;
        position: relative;
        
    }
    #{&}_buttons{
        position: absolute;
        top: 0;
        display: flex;
        gap: 20%;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        @include transition-ease;
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 0%;
            width: 100%;
            background: $primary-color;
            opacity: 0;
            @include transition-ease;
          }
          a{
            color: white;
            z-index: 2;
            margin-bottom: 27px;
            visibility: hidden;
            transition: all 0.4s ease-in-out;
        }
          &:hover {
            &::after {
              top: 0;
              opacity: 0.9;
              height: 100%;
            }
        
        
       
        a{
            display: block;
            visibility: visible;
            
            
        }
    }

}


}
@include media-lg{
    .games{
        #{&}_experience{
            grid-template-columns: repeat(2, 1fr);
            
            
            
        }
        #{&}_div{
            max-width: 600px;
            
        }
        #{&}_home{
            height: 40vh;
        }
    }
   
  }
  @include media-xl{
    .games{
        #{&}_experience{
            grid-template-columns: repeat(3, 1fr);
            
            
            
        }
        #{&}_div{
            max-width: 800px;
            
        }
        #{&}_home{
            height: 50vh;
        }
    }
   
  }